.container {
  background-image: url(../../../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  backdrop-filter: blur(1px);
  width: 100vw;
  padding: 10px 0;
}

.clock {
  color: white;
  font-size: 4em;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 3%, 38%, 0.78);
}